.footer {
    background-color: #fff;
    color: #000;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
}

.logo {
    width: 50px;
}

.redes_sociais {
    display: flex;
    justify-content: center;
}

.facebook,
.instagram {
    width: 15px;
    border-radius: 20px;
    margin: 3px 3px 5px 5px;

}



